manifest {
    mainScript = 'main.nf'
}

params {
    // default parameters
    cores = "8"
    mem = "12"
    help = false
    fasta = ''
    references = ''
    multifasta = false

    // folder structure
    output = 'results'
    databases = 'nextflow-autodownload-databases'
    workdir = "/tmp/nextflow-blastn-$USER"
    cachedir = "singularity_images"

}

profiles {

    //executer
    local {
        workDir = params.workdir
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }

    //engines
    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.cachedir
        }
        includeConfig 'configs/container.config'
    }
}

// PROFILES


