process {
    withLabel: ubuntu           { container = 'nanozoo/basics:1.0--962b907' }
    withLabel: biopython        { container = 'biocontainers/biopython:v1.73dfsg-1-deb-py3_cv1' }
    withLabel: blast            { container = 'nanozoo/blast:2.9.0--ded80ad' }
    withLabel: altair           { container = 'nanozoo/altair:4.1.0--086b80e' }
    withLabel: seqkit           { container = 'nanozoo/seqkit:2.3.1--401ce9e' }
}
